In [1]:
import nltk
import pandas as pd

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\abhir\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

### Import Dataset

In [3]:
fake=pd.read_csv("C:\\Users\\abhir\\Downloads\\archive\\Fake.csv")
genuine=pd.read_csv("C:\\Users\\abhir\\Downloads\\archive\\True.csv")

In [4]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
genuine

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [6]:
fake["genuineness"]=0
genuine["genuineness"]=1

In [7]:
data=pd.concat([fake,genuine],axis=0)

In [8]:
data

,title,text,subject,date,genuineness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [9]:
data=data.reset_index(drop=True)

In [10]:
data=data.drop(['title','subject','date'],axis=1)

### Data Preprocessing

In [11]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [11]:
from nltk.stem.snowball import SnowballStemmer
sb=SnowballStemmer("english",ignore_stopwords=False)

In [12]:
def stem_it(text):
    return [sb.stem(word) for word in text]

In [13]:
data['text']=data['text'].apply(stem_it)

In [14]:
def stopword_removed(text):
    return [word for word in text if len(word)>>2]

In [15]:
data['text']=data['text'].apply(' '.join)

In [16]:
data

                                                    text  genuineness
0      d o n a l d   t r u m p   j u s t   c o u l d ...            0
1      h o u s e   i n t e l l i g e n c e   c o m m ...            0
2      o n   f r i d a y ,   i t   w a s   r e v e a ...            0
3      o n   c h r i s t m a s   d a y ,   d o n a l ...            0
4      p o p e   f r a n c i s   u s e d   h i s   a ...            0
...                                                  ...          ...
44893  b r u s s e l s   ( r e u t e r s )   -   n a ...            1
44894  l o n d o n   ( r e u t e r s )   -   l e x i ...            1
44895  m i n s k   ( r e u t e r s )   -   i n   t h ...            1
44896  m o s c o w   ( r e u t e r s )   -   v a t i ...            1
44897  j a k a r t a   ( r e u t e r s )   -   i n d ...            1

[44898 rows x 2 columns]

### Splitting Dataset

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['genuineness'],test_size=0.25)

In [19]:
X_train

24183    w a s h i n g t o n   ( r e u t e r s )   -   ...
22773    r o b e r t   p a r r y   c o n s o r t i u m ...
15090    t h a n k s   t o   o u r   g o v e r n m e n ...
37393    w a s h i n g t o n   ( r e u t e r s )   -   ...
40894    v i e n n a   ( r e u t e r s )   -   w i t h ...
                               ...
6427     m a s s a c h u s e t t s   s e n a t o r   e ...
9909     s e n a t e   m i n o r i t y   l e a d e r   ...
39895    b e r l i n   ( r e u t e r s )   -   g e r m ...
35397    i s t a n b u l   ( r e u t e r s )   -   t u ...
5795     w h e n   d o n a l d   t r u m p   l a u n c ...
Name: text, Length: 33673, dtype: object

### Vectorization-TFIDF

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf= TfidfVectorizer(max_df=0.7)
tfidf_train = tfidf.fit_transform(X_train)
tfidf_test  = tfidf.transform(X_test)

ValueError: empty vocabulary; perhaps the documents only contain stop words

### Building ML model

In [35]:
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression(max_iter=900)
model1.fit(tfidf_train,y_train)

LogisticRegression(max_iter=900)

In [43]:
pred1=model1.predict(tfidf_test)

In [44]:
pred1

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [45]:
y_test

15573    0
17599    0
40523    1
40576    1
24895    1
        ..
41911    1
9267     0
7564     0
9555     0
24534    1
Name: genuineness, Length: 11225, dtype: int64

In [48]:
from sklearn.metrics import accuracy_score
cr1=accuracy_score(y_test,pred1)
cr1

0.9873496659242762

In [49]:
from sklearn.linear_model import PassiveAggressiveClassifier
model2=PassiveAggressiveClassifier(max_iter=100)
model2.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=100)

In [50]:
pred2=model2.predict(tfidf_test)

In [51]:
cr2=accuracy_score(y_test,pred2)
cr2

0.9949220489977728